@import '../modules/_variables';
@import '../modules/_mixins';
@include font-face($font_1, $cloud_raw_path+'fonts/'+$font_1);
@include font-face($font_2, $cloud_raw_path+'fonts/'+$font_2, normal);
* {
	//box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #513c79 url($cloud_path+'bg-header-nav.png') repeat-x scroll center top;
	color: $white;
	font-family: $font_1, Helvetica, Arial, sans-serif;
	font-size: 18px;
}
header {
	display: block;
	height: 97px;
	position: relative;
	.logo {
		background: transparent url($cloud_path+'bg-logo.png') no-repeat scroll 0 0;
		height: 97px;
		left: 0;
		padding: 10px 0 0 138px;
		position: absolute;
		width: 410px;
		z-index: 1;
		img {
			max-width: 100px;
		}
	}
	nav {
		padding: 10px 0;
		position: absolute;
		right: 205px;
		top: 0;
		ul {
			clear: both;
			float: right;
		}
		li {
			float: left;
			margin: 0;
		}
		a {
			font-family: $font_2;
			font-size: 15px;
			line-height: 24px;
			text-decoration: none;
			text-shadow: 1px 1px 0 #271d67;
			text-transform: uppercase;
			@include transition(none, 0s, linear);
		}
		.sub-nav {
			li {
				margin: 0 6px;
			}
			a {
				font-family: $font_1;
				font-size: 12px;
				text-shadow: 1px 1px #513c79;
				text-transform: uppercase;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.main-nav {
			a {
				padding: 10px 15px 15px 5px;
				&:hover {
					background: transparent url($cloud_path+'main_nav-hover.png') no-repeat scroll right 2px;
				}
			}
		}
		.btn-search {
			a {
				background: transparent url($cloud_path+'icon-search.png') no-repeat scroll 0 0;
				display: inline-block;
				height: 28px;
				margin-top: -3px;
				overflow: hidden;
				text-indent: 30px;
				width: 28px;
				&:hover {
					background: transparent url($cloud_path+'icon-search.png') no-repeat scroll 0 0;
					display: inline-block;
					height: 28px;
					margin-top: -3px;
					overflow: hidden;
					text-indent: 30px;
					width: 28px;
				}
			}
		}
	}
	.login-wrapper {
		background-color: #513c79;
		border: 3px solid #ffffff;
		border-top: none;
		min-height: 60px;
		left: auto;
		overflow: hidden;
		padding: 2px 9px 0;
		position: absolute;
		right: 0;
		top: 0;
		vertical-align: top;
		width: 200px;
		word-wrap: break-word;
		z-index: 1;
		.default {
			padding: 5px 0 5px 5px;
		}
		%input {
				border: none;
			@include border-radius(5px);
			clear: both;
			color: #3A245C;
			display: block;
			font-size: 12px;
			height: 25px;
			line-height: normal;
			margin: 5px 0;
			padding: 0 9px;
			width: 175px;
		}
		.login {
			display: none;
			padding-top: 5px;
			input[type=email] {
				@extend %input;
			}
			input[type=password] {
				@extend %input;
			}
			label {
				font-size: 12px;
			}
			.btn-cancel {
				background: none transparent;
				clear: none;
				float: right;
				font-size: 12px;
				font-weight: normal;
				margin: 0 0 10px;
				text-decoration: underline;
				text-transform: none;
			}
			.btn-forgotten-password {
				background: none transparent;
				display: block;
				font-size: 12px;
				font-weight: normal;
				padding: 0 0 5px;
				text-transform: none;
			}
			.btn-login {
				background-color: #3a245c;
				@include border-radius(10px);
				display: inline-block;
				font-size: 12px;
				font-weight: bold;
				height: 25px;
				line-height: 25px;
				margin: 5px 0 6px 2px;
				padding: 0;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				vertical-align: top;
				width: 140px;
				width: 175px;
			}
		}
		.logged-in {
			display: none;
			padding-top: 5px;
			position: relative;
		}
		.anonymous-message {
			display: none;
			padding-top: 5px;
		}
		h2 {
			float: left;
			font-family: $font_2;
			font-size: 15px;
			font-weight: 400;
			line-height: 17px;
			margin: 0 0 1px;
			max-width: 100%;
			text-transform: uppercase;
			word-wrap: break-word;
		}
		a {
			display: inline-block;
			font-family: $font_1;
			font-size: 12px;
			padding: 5px 0 1px 0;
			text-transform: uppercase;
		}

		a.btn-tooltip {
			background: transparent url($cloud_path+'icon-help.png') no-repeat scroll 0 0;
			display: inline-block;
			height: 17px;
			margin-bottom: -5px;
			overflow: hidden;
			text-indent: 20px;
			width: 17px;
		}
		.profile-picture {
			@include border-radius(5px);
			clear: both;
			float: left;
			margin: 0 7px 0 0;
			max-height: 30px;
			max-width: 30px;
		}
		.btn-logout {
			font-size: 12px;
			font-weight: normal;
			position: absolute;
			right: 10px;
			text-decoration: underline;
			text-transform: none;
			top: -3px;
			z-index: 999;
		}
		.my-profile {
			background-color: #3a245c;
			@include border-radius(10px);
			display: inline-block;
			font-size: 12px;
			font-weight: bold;
			height: 25px;
			line-height: 25px;
			margin: 5px 0 6px 2px;
			padding: 0;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: top;
			width: 140px;
		}
		.error {
			color: #ff0000;
			font-size: 12px;
		}
	}
}
section {
	display: block;
}
footer {
	display: block;
	padding: 100px 0 20px;
	text-align: center;
	p {
		font-family: Verdana, sans-serif;
		font-size: 9px;
		padding: 15px;
	}
	img {
		height: auto;
		width: 100px;
	}
	nav {
		margin: 5px auto 0;
		max-width: 830px;
		a {
			display: inline-block;
			font-size: 16px;
			line-height: 18px;
			padding: 0 9px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
nav {
	display: block;
}
main {
	display: block;
	padding: 0;
	min-height: 100px;
	section {
		padding: 0 20px;
	}
}
article {
	display: block;
}
figure {
	display: block;
}
ul {
	list-style-type: none;
}
.wrapper {
	clear: both;
	margin: auto;
	max-width: 1200px;
	position: relative;
	width: 100%;
	a {
		color: #fff;
	}
}
header.wrapper {
	margin-bottom: -18px;
	z-index: 1;
}
.page-border {
	background: url($cloud_path+'bg-page-border.png') repeat-y scroll left 0, url($cloud_path+'bg-page-border.png') repeat-y scroll right 0, #513c79;
	padding: 0 5px;
}
.banner-top {
	img {
		margin: auto;
		max-width: 1200px;
		width: 100%;
	}
}
.banner-bottom {
	img {
		margin: auto;
		max-width: 1200px;
		width: 100%;
	}
}
@media only screen and (max-width: 1200px) {
	header {
		.logo {
			margin-left: -40px;
		}
	}
	.page-border {
		background: transparent url($cloud_path+'bg-main.png') repeat-y scroll center top / 105% auto;
		padding: 0;
	}
}
@media only screen and (max-width: 950px) {
	header {
		nav {
			.sub-nav {
				display: none;
			}
			.main-nav {
				display: none;
				background-color: #513c79;
				border: 3px solid #ffffff;
				border-top: none;
				@include transition(none, 0s, linear);
				width: 100%;
				li {
					float: none;
					padding: 5px;
				}
				a {
					&:hover {
						background: transparent none no-repeat scroll 0 0;
						text-decoration: underline;
					}
				}
			}
			.btn-search {
				display: none;
			}
			padding: 0;
			right: auto;
			top: 80px;
			width: 100%;
		}
		.login-wrapper {
			.default {
				h2 {
					display: none;
				}
				float: right;
				padding: 8px 8px 10px;
			}
			.logged-in {
				h2 {
					display: none;
				}
			}
			a.btn-tooltip {
				display: none;
			}
			background: transparent none no-repeat scroll 0 0;
			border: medium none;
			padding: 0;
			width: 100%;
			@include transition(none, 0s, linear);
			* {
				@include transition(none, 0s, linear);
			}
			a {
				background-color: #3a245c;
				border-radius: 5px;
				clear: both;
				display: inline-block;
				float: right;
				font-size: 10px;
				font-weight: bold;
				height: 25px;
				line-height: 25px;
				margin: 0 0 5px;
				padding: 0 10px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				vertical-align: top;
				width: auto;
			}
			.login {
				background-color: #513c79;
				border: 3px solid #ffffff;
				border-top: none;
				clear: both;
				float: right;
				max-width: 320px;
				min-height: 60px;
				overflow: hidden;
				padding: 2px 10px 0;
				@include transition(none, 0s, linear);
				width: 100%;
				word-wrap: break-word;
				z-index: 1;
				h2 {
					margin-top: 8px;
				}
				input[type="text"] {
					width: 100%;
				}
				input[type="email"] {
					width: 100%;
				}
				input[type="password"] {
					width: 100%;
				}
				.btn-login {
					width: 100%;
				}
			}
			.profile-picture {
				float: right;
				margin: 0 60px 0 0;
			}
			.btn-logout {
				background: none;
				right: 5px;
				top: 5px;
			}
			.my-profile {
				clear: both;
				float: right;
				margin: 5px 5px 6px 2px;
				padding: 0 5px;
				width: auto;
			}
		}
		.logo {
			background-position: -140px -100px;
			height: 80px;
			left: calc(50% - 55px);
			margin: 0;
			padding: 10px 0 0;
			width: 110px;
			z-index: 2;
			img {
				max-width: 90px;
			}
		}
		.mobile-menu {
			background: transparent url($cloud_path+'mobile-menu.png') no-repeat scroll center center;
			cursor: pointer;
			height: 70px;
			left: 0;
			line-height: 70px;
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: absolute;
			text-indent: 90px;
			top: 0;
			width: 80px;
			z-index: 2;
		}
	}
}
@media only screen and (max-width: 640px) {
	body {
		-webkit-text-size-adjust: none;
	}
	section {
		-webkit-text-size-adjust: none;
	}
	article {
		-webkit-text-size-adjust: none;
	}
	div {
		-webkit-text-size-adjust: none;
	}
	p {
		-webkit-text-size-adjust: none;
	}
	a {
		-webkit-text-size-adjust: none;
	}
	header {
		.login-wrapper {
			.login {
				float: none;
				margin: auto;
			}
		}
	}
	main {
		h1 {
			font-size: 25px;
		}
		p {
			font-size: 15px;
		}
	}
	footer {
		nav {
			a {
				font-size: 12px;
			}
		}
	}
}
