// breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1200px;

// colors
$white: #fff;
$red: #ff0000;
$color_robins_egg_blue_approx: #00bcd4;
$black_12: rgba(0, 0, 0, 0.12);
$black_13: rgba(0,0,0,.13);
$color_charlotte_approx: #c1eef4;
$color_viking_approx: #4dd0e1;

// fonts
$font_1: FuturaBook;
$font_2: FuturaBold;

//Cloud path
$cloud_path: 'http://res.cloudinary.com/pbio/image/upload/v1507628474/Milka/';
$cloud_raw_path: 'https://res.cloudinary.com/pbio/raw/upload/v1507630291/Milka/';
