<!DOCTYPE html>
<html>
    <style>
#myProgress {
  width: 100%;
}

#myBar {
  width: 1%;
  height: 10px;
  background-color: #00B9EB;
}
</style>
    <body>

        <div id="myProgress">
            <div id="myBar"></div>
        </div>

        <br>

        <script>
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 50);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
    }
  }
}
move()
</script>
    </body>
</html>
